<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Blog App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Add Blog", "AddBlog", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My Suggestion", "UserSuggestionSend", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Received Suggestion", "UserSuggestionReceived", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My Post", "MyPost", "Blog", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>

                <!-- Logout button -->
                <ul class="navbar-nav">
                    
                    @*<li class="nav-item ml-auto">
                        <a href="@Url.Action("Logout", "Account")">Logout</a>
                    </li>*@

                  
                    <li class="nav-item ml-auto">
                        @Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })
                    </li>
                      
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BlogApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
