@model BlogApp.ViewModels.PostViewModel

<head>

    <link rel="stylesheet" href="~/Scripts/ckeditor/contents.css" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>

</head>

@{
    ViewBag.Title = "AddBlog";
}


<h2>AddBlog</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>PostViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea id="Content" name="Content" class="form-control" rows="10"></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}





@section Scripts {

    <script type="text/javascript">
        var editor = CKEDITOR.replace('Content');
        CKFinder.setupCKEditor(editor);
    </script>


    @*<script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
        <script>
            $(document).ready(function () {
                CKEDITOR.replace('Content');
            });
        </script>*@


    @Scripts.Render("~/bundles/jqueryval")
}
