
@{
    ViewBag.Title = "EditPost";
}

@model BlogApp.ViewModels.PostViewModel

@{
    ViewBag.Title = "EidtPost";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Moderator"))
    {
        Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<head>

    <link rel="stylesheet" href="~/Scripts/ckeditor/contents.css" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>

</head>

<h2>Edit Blog Post</h2>

@using (Html.BeginForm("EditPost", "Blog", FormMethod.Post))
{
    @Html.HiddenFor(model => model.PostId)

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content)
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "Content" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
}

@section Scripts {

    <script type="text/javascript">
        var editor = CKEDITOR.replace('Content');
        CKFinder.setupCKEditor(editor);
    </script>


    @Scripts.Render("~/bundles/jqueryval")
}