@model List<BlogApp.ViewModels.SuggetionPageViewModel>

@{
    ViewBag.Title = "Suggestions Received";
}

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else if (User.IsInRole("Moderator"))
{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Suggestions Received</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Suggested By</th>
            <th>Suggestion Text</th>
            <th>Post Title</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model)
        {
            <tr>
                <td>@suggestion.UserName</td>
                <td>@suggestion.SuggestionText</td>
                <td>@suggestion.Post.Title</td>
                <td>
                    @if (suggestion.suggestionStatus == BlogApp.Models.SuggestionStatus.Live)
                    {
                        <text>Not Yet Responding</text>
                    }
                    else
                    {
                        @suggestion.suggestionStatus
                    }
                </td>                
                <td>
                    @Html.ActionLink("View Post", "SuggestionReceivedDetails", "Blog", new { id = suggestion.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

